<!DOCTYPE html>
<html lang="en">
<head>
  <title>category1</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" type="img/png" href="img/favicon.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="<?php echo base_url('frontend') ?>/css/bootstrap.min.css">
  <style type="text/css">
@font-face {
  font-family: 'Mitr', sans-serif;
  src: url(Mitr.ttf);
}
body{background:#8181ea; font-family: 'Mitr', sans-serif;}
.backgroundlightblue{background:#4b4bc1;}
.box_height {height: 65px;box-shadow: 0 1px 1px 1px black;width: 130px;text-align: center;color: #030335;border-radius: 8px; margin:15px 7px 80px 7px;}
.box_height>p{font-size:12px;}
.box_2height {background: #4b4bc1;color: #fff;border-radius: 5px;line-height: 4;
 box-shadow: 0px 1px 1px 1px #252525;width: 130px;margin-left: -8px;}

 @media (max-width:767px) {
 	.tagline_font{font-size: 22px;}
 }
 </style>
</head>
<body>
<div class="container-fluid">
	<!-- 1st row start -->
<div class="row">
<div class="col-md-12 p-5">
<div class="d-flex justify-content-center mb-3">
    <div>
    <img src="<?php echo base_url('frontend') ?>img/car-icon.png" class="" width="130px">	
    </div>
    <div class="pl-3 pt-3">
    <h1 class="text-white">Good Number</h1>
    <h5 class="text-white">Category ab</h5>
    </div>
 </div>
<h3 class="text-white text-center pt-3 tagline_font">Tag line-Description</h3>
</div>
</div>	
<!--1st row end -->
<!-- 2nd row start -->
<div class="row backgroundlightblue">
<div class="col-md-6 m-auto">
<div class="d-flex flex-wrap text-center">
    <div class="p-2 flex-fill">
    <img src="<?php echo base_url('frontend') ?>img/chat.png" width="25px">
    <span class="text-white pl-2">Lorem</span>
    </div>
    <div class="p-2 flex-fill">
    <img src="<?php echo base_url('frontend') ?>img/messenger.png" width="25px">
    <span class="text-white pl-2">Lorem</span>
    </div>
    <div class="p-2 flex-fill">
    <img src="<?php echo base_url('frontend') ?>img/whatsapp.png" width="25px">
    <span class="text-white pl-2">061-666-66666</span>
    </div>
  </div>
</div>
</div>
<!--2nd row end -->
</div>
<div class="container-fluid">
<div class="row">
<!-- row1 -->
<div class="col-md-8 m-auto">
<p class="bg-warning text-white my-4 py-2 text-center">Group 14-Description</p>
</div>
</div>
<!-- row2 -->
<div class="row">
<div class="col-md-10 m-auto">
<div class="d-flex flex-wrap align-content-center">
    <div class="p-2 bg-white box_height">
    <h4>ab 9999</h4><p>india</p>
    <div class="box_2height"><p>$1,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 168</h4><p>india</p>
    <div class="box_2height"><p>$2,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 8888</h4><p>india</p>
    <div class="box_2height"><p>$3,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 5566</h4><p>india</p>
    <div class="box_2height"><p>$4,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 7777</h4><p>india</p>
    <div class="box_2height"><p>$5,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 6666</h4><p>india</p>
    <div class="box_2height"><p>$6,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 6666</h4><p>india</p>
    <div class="box_2height"><p>$7,000,000</p></div>
    </div>
</div>
</div>
</div>
</div>
<br>
<div class="container-fluid">
<div class="row">
<!-- row1 -->
<div class="col-md-8 m-auto">
<p class="bg-warning text-white my-4 py-2 text-center">Group 19-Description</p>
</div>
</div>
<!-- row2 -->
<div class="row">
<div class="col-md-10 m-auto">
<div class="d-flex flex-wrap align-content-center">
    <div class="p-2 bg-white box_height">
    <h4>ab 1</h4><p>ab</p>
    <div class="box_2height"><p>$8,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 12</h4><p>india</p>
    <div class="box_2height"><p>$9,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 7767</h4><p>india</p>
    <div class="box_2height"><p>$10,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 69</h4><p>india</p>
    <div class="box_2height"><p>$11,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 3</h4><p>india</p>
    <div class="box_2height"><p>$12,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 4</h4><p>india</p>
    <div class="box_2height"><p>$5,000,000</p></div>
    </div>
    <div class="p-2 bg-white box_height">
    <h4>ab 7778</h4><p>india</p>
    <div class="box_2height"><p>$1,000,000</p></div>
    </div>
</div>
</div>
</div>
</div>
<br>
<br>
<div class="container-fluid text-center">
<div class="row">
<div class="col-md-12">
<button type="button" class="btn btn-primary m-1">Description 1</button>
<button type="button" class="btn btn-primary m-1">Description 1</button>
</div>	
</div>
</div>
<br><br>
<script src="<?php echo base_url('frontend') ?>js/v3.5.1.jquery.min.js"></script>
<script src="<?php echo base_url('frontend') ?>js/v4.5.2.bootstrap.min.js"></script>
<script src="<?php echo base_url('frontend') ?>js/popper.min.js"></script>
</body>
</html>